<div>
    <h1>Accounts</h1>
    <div class="container" id="accounts">

        <input type="button" value="New Account" id="createAccountBtn"/>

        <input type="button" value="Transfer" id="transferBtn"/>

        <table class="table table-striped" id="accountsTable">
            <thead>
            <tr>
                <th>Balance</th>
                <th>Type</th>
                <th>Interest</th>
            </tr>
            </thead>
            <tbody id="accountsTableBody">
            </tbody>
        </table>
    </div>
</div>