<div>
    <header>
        <h1>Stocks</h1>
    </header>

    <nav>
        <div th:include="layout/stock-filter"></div>
    </nav>

    <section>
        <div>
            <button class="btn btn-default btn-lg"><span class="glyphicon glyphicon-th-list"></span> List</button>
            <button class="btn btn-default btn-lg"><span class="glyphicon glyphicon-th"></span> Grid</button>
        </div>
        <div th:include="tables/stock-table"></div>
        <div th:include="modals/edit-stock"></div>
        <div th:include="modals/create-stock"></div>
    </section>
</div>