.sass-cache
.DS_Store
target
lib-cov
lcov.info
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.class
pids
logs
results
build
.grunt
node_modules
website/tmp
documents
sync
.idea
*.iml
.settings
.classpath
.project
