<div>
    <header>
        <h1>Store-front</h1>
    </header>

    <nav>
        <div th:include="layout/stock-filter"></div>
    </nav>

    <section>
        <div class="form-group">
            <button class="btn btn-link btn-md" type="button" data-toggle="modal" data-target="#create-stock"><span class="glyphicon glyphicon-plus"></span></button>
            <button class="btn btn-link btn-md" id="toggle-view-button"><span id="toggle-view-button-span" class="glyphicon glyphicon-th-list"></span></button>
            <input type="text" class="form-control" id="filter-stock-title" placeholder="Search"/>
        </div>
        <div th:include="tables/stock-grid"></div>
        <div th:include="tables/stock-table"></div>
        <div th:include="modals/edit-stock"></div>
        <div th:include="modals/create-stock"></div>
    </section>
</div>