<div class="container">
    <div class="modal fade" id="edit-stock" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <label class="form-control" for="edit-stock-title">Title</label>
                        <input class="form-control" type="text" id="edit-stock-title"/>
                    </div>

                    <div class="input-group">
                        <label class="form-control" for="edit-stock-category">Category</label>
                        <select class="form-control" id="edit-stock-category"/>
                    </div>

                    <div class="input-group">
                        <label class="form-control" about="edit-stock-price">Price</label>
                        <input class="form-control" type="number" id="edit-stock-price"/>
                    </div>

                    <div class="input-group">
                        <label class="form-control" for="edit-stock-discount">Discount</label>
                        <input class="form-control" type="number" id="edit-stock-discount"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash" data-dismiss="modal"
                                                         id="edit-stock-delete"></span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="edit-stock-save">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>