<div>
    <div class="form-group" id="newEntryDiv">
        <h2>New Entry</h2>
        <input class="form-control" type="text" id="tagsInputTxt" placeholder="tags"/>
        <textarea class="form-control" id="entryInputTxt" placeholder="enter some text..."></textarea>
        <input type="button" id="createEntryBtn" value="Submit"/>
    </div>


    <div id="entriesContrainer">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="search tags"/>
        </div>
    </div>
</div>