<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="utilities.js"></script>
    <script src="index.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <h1>Index Page</h1>

    <div class="form-group">
        <label>New Entry</label>
        <input type="text" id="entryInputTxt"/>
        <input type="button" id="createEntryBtn" value="Create"/>
    </div>

    <div id="entriesContrainer">

    </div>

</div>
</body>
</html>
